<div class="container row">
    <h1>Portfolio</h1>
    <div class="content col-xs-12 col-md-6 col-lg-4">
        <figure>
            <img src="./img/framing-wine.jpg" alt="Wine Glasses">
            <figcaption>Wine Glasses</figcaption>
        </figure>
    </div>
    <div class="content col-xs-12 col-md-6 col-lg-4">
        <figure>
            <img src="./img/line-lights.jpg" alt="Line of Lights">
            <figcaption>Line of Lights</figcaption>
        </figure>
    </div>
    <div class="content col-xs-12 col-md-6 col-lg-4">
        <figure>
            <img src="./img/forest-focus.jpg" alt="Forest">
            <figcaption>Forest</figcaption>
        </figure>
    </div>
    <div class="content col-xs-12 col-md-6 col-lg-4">
        <figure>
            <img src="./img/framing-dundee.jpg" alt="Dog Picture">
            <figcaption>Dog Peephole</figcaption>
        </figure>
    </div>
    <div class="content col-xs-12 col-md-6 col-lg-4">
        <figure>
            <img src="./img/row-bottom-rocks.jpg" alt="Rocks">
            <figcaption>Rocks</figcaption>
        </figure>
    </div>
    <div class="content col-xs-12 col-md-6 col-lg-4">
        <figure>
            <img src="./img/tone-face.jpg" alt="Face">
            <figcaption>Face</figcaption>
        </figure>
    </div>
    <div class="content col-xs-12 col-md-6 col-lg-4">
        <figure>
            <img src="./img/row-top-house-grass.jpg" alt="Grass">
            <figcaption>Grass</figcaption>
        </figure>
    </div>
    <div class="content col-xs-12 col-md-6 col-lg-4">
        <figure>
            <img src="./img/line-vertical-chain.jpg" alt="Chain">
            <figcaption>Swing Chain</figcaption>
        </figure>
    </div>
    <div class="content col-xs-12 col-md-6 col-lg-4">
        <figure>
            <img src="./img/column-left-tree.jpg" alt="Tree">
            <figcaption>Tree</figcaption>
        </figure>
    </div>
</div>